<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>
    <table>
        <tr>
            <td>name</td>
            <td>{{product[0]}}</td>
        </tr>
        <tr>
            <td>in store</td>
            <td>{{product[1]}}</td>
        </tr>
        <tr>
            <td>category</td>
            <td>{{product[2]}}</td>
        </tr>
        <tr>
            <td>price</td>
            <td>{{product[3]}}</td>
        </tr>
    </table>

    <br>
    <a href="/">Home</a>

</body>
</html>